.default {
    position: relative;
    padding: 0px 25px;
}
.m-b20 {
    margin-bottom: 20px;
}
.p-t15 {
    padding-top: 15px;
}
.control-tabledata-button {
    position: absolute;
    right: 25px;
    top: -56px;
}
// .m-rl8{
//     margin: 0 8px;
// }
.w-75{
    width: 75px;
}
.el-pagination {
    margin-top: 25px;
}